// Fontes
$fontPrincipal: Roboto, sans-serif;

// Cores
$corBackground: #f5f6fa;
$corSecundaria: #fff;
$corFundoNavbar: #182C61;
$corSecaoButton: #44bd32;
$corButtonHover: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;